<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:group {"align":"full","className":"enciluz-intro","backgroundColor":"celeste","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull enciluz-intro has-celeste-background-color has-background">
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-date /-->
</div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"className":"is-style-arco"} /-->

<!-- wp:post-content {"className":"enciluz-seccion","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
